.skills-stack {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  z-index: 0;
  height: 100%;
  background-color: #fff6e3;
}

.left-skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.dynamic-cards {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
}
