@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --nav-h: 64px;
}
.snap-section {
  scroll-margin-top: var(--nav-h);
}

.snap-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}

.snap-section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media (max-width: 640px) {
  .snap-container {
    scroll-snap-type: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
}
.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient {
  background: #fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fff,
    #fff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fff,
    #fff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blue-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

@keyframes sparkDown {
  0% {
    transform: translate(-50%, -10%);
    opacity: 0.9;
  }
  100% {
    transform: translate(-50%, 102%);
    opacity: 0;
  }
}

@layer utilities {
  @keyframes gradient-shift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
